body {
	font-family: monospace;
	background-color: black;
	color: white
}

.term_ital {
  font-style: italic
}

.term_und {
	text-decoration: underline
}

.term_over {
	text-decoration: overline
}

.term_und2 {
	text-decoration: underline;
	text-decoration-style: double;
}

.term_str {
	text-decoration: line-through
}

.term_fgblack {
  color: #000000;
}
.term_fggrey {
  color: #404040;
}
.term_fgred {
  color: #c00000;
}
.term_fggreen {
  color: #00c000;
}
.term_fgyellow {
  color: #c0c000;
}
.term_fgblue {
  color: #0000c0;
}
.term_fgmagenta {
  color: #c000c0;
}
.term_fgcyan {
  color: #00c0c0;
}
.term_fgwhite {
  color: #c0c0c0;
}

.term_fgblackbold {
  color: #404040;
}
.term_fgredbold {
  color: #f00000;
}
.term_fggreenbold {
  color: #00f000;
}
.term_fgyellowbold {
  color: #f0f000;
}
.term_fgbluebold {
  color: #0000f0;
}
.term_fgmagentabold {
  color: #f000f0;
}
.term_fgcyanbold {
  color: #00f0f0;
}
.term_fgwhitebold {
  color: #f0f0f0;
}

.term_fgblackfaint {
  color: #000000;
}
.term_fgredfaint {
  color: #800000;
}
.term_fggreenfaint {
  color: #008000;
}
.term_fgyellowfaint {
  color: #808000;
}
.term_fgbluefaint {
  color: #000080;
}
.term_fgmagentafaint {
  color: #800080;
}
.term_fgcyanfaint {
  color: #008080;
}
.term_fgwhitefaint {
  color: #808080;
}

.term_bgred {
  background-color: #c00000;
}
.term_bggreen {
  background-color: #00c000;
}
.term_bgyellow {
  background-color: #c0c000;
}
.term_bgblue {
  background-color: #0000c0;
}
.term_bgmagenta {
  background-color: #c000c0;
}
.term_bgcyan {
  background-color: #00c0c0;
}
.term_bgwhite {
  background-color: #c0c0c0;
}

#input {
	font-family: monospace;
	background-color: black;
	color: white
}

#main {
	overflow: auto;
	height: 90%;
}

#measure {
	display: hidden;
	background-color: black;
	color: black;
}

#wide {
	display: hidden;
	background-color: black;
	color: black;
}

#prompt {
	float: left;
}

.cursor {
	background-color: red;
}
